<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cloudcentrik.gbgcitytourguide">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_new5"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="Main Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TouristSpotsActivity"
            android:label="@string/title_tourist_spot"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GardenActivity"
            android:label="@string/title_activity_garden"
            android:theme="@style/AppTheme"
            android:parentActivityName="net.cloudcentrik.gbgcitytourguide.TouristSpotsActivity" />

        <!-- Hotels start -->
        <activity
            android:name=".HotelActivityNew"
            android:label="@string/title_activity_hotel"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HotelActivity"
            android:label="@string/title_activity_hotel"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".YouthHotelsActivity"
            android:label="Youth Hostels"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BedandBreakfatActivity"
            android:label="Bed &amp; Breakfast"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StarHotelsActivity"
            android:label="Star Hotels"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GothiaTowersHotelActivity"
            android:label="Gothia Towers Hotel"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AvalonHotelActivity"
            android:label="@string/title_activity_avalon_hotel"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".VanilaHotelActivity"
            android:label="@string/title_activity_vanila_hotel"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".VandrarHemHotelActivity"
            android:label="Vandrarhem"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RadissonBlueHotelActivity"
            android:label="Radisson Blue Hotel"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ScandicEuropaHotelActivity"
            android:label="Scandic Europa Hotel"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SlottsskogenYouthHostelActivity"
            android:label="Slottsskogen Youth Hostel"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BackpackersYouthHostelActivity"
            android:label="Backpackers Youth Hostel"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".STFvandrarhemStigbergslidenActivity"
            android:label="STF Vandrarhem Stigbergsliden"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LinneplatsensHotelandHostelActivity"
            android:label="Linneplatsens Hotel and Hostel"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".KvibergsVandrarhemActivity"
            android:label="Kvibergs Vandrarhem"
            android:theme="@style/AppTheme" />

        <!-- B&B-->
        <activity
            android:name=".GoodMorningGoteborgCityActivity"
            android:label="Good Morning+ Göteborg City"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LeMatBandBGoteborgCityActivity"
            android:label="Le Mat B&amp;B Goteborg City"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AnsBedandBreakfastActivity"
            android:label="5:Ans Bed &amp; Breakfast"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GoteborgsMiniHotelActivity"
            android:label="Göteborgs Mini Hotel"
            android:theme="@style/AppTheme" />


        <!-- Hotels End -->

        <activity
            android:name=".BaseTestActivity"
            android:label="@string/title_activity_base_Test"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MuseumActivity"
            android:label="@string/title_activity_museum"
            android:theme="@style/AppTheme" />

        <!-- ISLAND START -->
        <activity
            android:name=".IslandActivity"
            android:label="@string/title_activity_island"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".VrangoIslandActivity"
            android:label="Vrångö Island"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".VingaIslandActivity"
            android:label="Vinga Island"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HonoIslandActivity"
            android:label="Hönö Island"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RoroIslandActivity"
            android:label="Rörö Island"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StyrsoIslandActivity"
            android:label="Styrsö Island"
            android:theme="@style/AppTheme" />
        <!-- ISLAND END -->

        <!-- LAKE START-->
        <activity
            android:name=".LakesActivity"
            android:label="Lakes"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DelsjonLakeActivity"
            android:label="Delsjön"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".BerjsonLakeActivity"
            android:label="Bergsjön"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".SurtesjonLakeActivity"
            android:label="Surtesjön"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".HarlandaLakeActivity"
            android:label="Härlanda Tjärn"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".SvarteMosseLakeActivity"
            android:label="Svarte Mosse"
            android:theme="@style/AppTheme" />

        <!-- LAKE END-->

        <!-- Park START-->
        <activity
            android:name=".ParkActivity"
            android:label="Parks"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LindholmenParkActivity"
            android:label="Lindholmen Science Park"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LisabergParkActivity"
            android:label="Liseberg Amusement Park"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SlotsskogenParkActivity"
            android:label="Slottsskogen Park"
            android:theme="@style/AppTheme" />
        <!-- PARK END-->

        <!--Museum activities-->
        <activity
            android:name=".MaritimanMuseumActivity"
            android:label="@string/title_activity_maritiman_museum"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NaturalHistoryMuseumActivity"
            android:label="@string/title_activity_natural_history_museum"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CityMuseumActivity"
            android:label="@string/title_activity_city_museum"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".VolvoMuseumActivity"
            android:label="@string/title_activity_volvo_museum"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".WorldCultureMuseumActivity"
            android:label="@string/title_activity_world_culture_museum"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MuseumOfArtActivity"
            android:label="@string/title_activity_museum_of_art"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".UniverseumActivity"
            android:label="@string/title_activity_universeum"
            android:theme="@style/AppTheme" />

        <!--Museum activities END-->


        <activity
            android:name=".HistoricalPlaceActivity"
            android:label="@string/title_activity_historical_place"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EastIndiaCompanyHPActivity"
            android:label="@string/title_activity_east_india_company_hp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AlvsborgCastleHPActivity"
            android:label="@string/title_activity_alvsborgCastle_hp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CarlstenFortHPActivity"
            android:label="@string/title_activity_carlsten_fort_hp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GustafAdlofsSquareHPActivity"
            android:label="@string/title_activity_GustafAdlofsSquare_hp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SkansenKronaHPActivity"
            android:label="@string/title_activity_skansenkrona_hp"
            android:theme="@style/AppTheme" />


        <!-- Restaurant activities Here -->

        <!-- Halal start -->
        <activity
            android:name=".HalalRestaurantActivity"
            android:label="Halal Restaurants"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LaithaiHalalRestaurantActivity"
            android:label="Lai Thai Gamlastan"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HjalboPizariaHalalRestaurantActivity"
            android:label="Hjälbo Pizzeria"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SarayHalalRestaurantActivity"
            android:label="Saray Grill"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DivanHalalRestaurantActivity"
            android:label="Divan Restaurant"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".LebanesHalalRestaurantActivity"
            android:label="Lebanes Grill House"
            android:theme="@style/AppTheme" />

        <!-- Halal end -->

        <!-- cofee shop start -->
        <activity
            android:name=".CofeeShopActivity"
            android:label="Cofee Shop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CondecoCofeeShopActivity"
            android:label="Condeco"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LepainfrancisCofeeShopActivity"
            android:label="Le pain Francis"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EspressoHouseCofeeShopActivity"
            android:label="Espresso House"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DamattioCofeeShopActivity"
            android:label="Da Mattio"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StarbucksCofeeShopActivity"
            android:label="Starbucks"
            android:theme="@style/AppTheme" />

        <!-- cofee shop end -->

        <!-- Pub start -->
        <activity
            android:name=".PubActivity"
            android:label="Pub"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".JohnscottPubActivity"
            android:label="John Scott"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BishoparmPubActivity"
            android:label="Bishop Arms"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DublinerPubActivity"
            android:label="Dubliner"
            android:theme="@style/AppTheme" />

        <!-- Pub end -->

        <!-- Nightclub start -->
        <activity
            android:name=".NightClubActivity"
            android:label="Night Clubs"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StickyfingersNightClubActivity"
            android:label="Sticky Fingers"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".YakidaNightClubActivity"
            android:label="Yaka-Di"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ParklaneNightClubActivity"
            android:label="Park Lane Klub"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ExcetNightClubActivity"
            android:label="Excet"
            android:theme="@style/AppTheme" />

        <!-- Nightclub end -->

        <!-- fast food -->
        <activity
            android:name=".FastFoodActivity"
            android:label="Fast Food"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".RestaurantActivityNew"
            android:label="Restaurants"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FineDyningResturentActivity"
            android:label="Restaurants"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OlearysResturentActivity"
            android:label="@string/title_activity_olearys_resturent"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Fiskekrogen_RestaurantActivity"
            android:label="@string/title_activity_fiskekrogen__restaurant"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HardRockCafeActivity"
            android:label="@string/title_activity_hardrockcafe"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".JohnScottsRestaurantActivity"
            android:label="@string/title_activity_johnscotts_restaurant"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".JoeFerellisRestaurantActivity"
            android:label="@string/title_activity_JoeFerellis_restaurant"
            android:theme="@style/AppTheme" />



        <activity
            android:name=".TravelInfoActivity"
            android:label="@string/title_activity_travelinfo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PublicTransportActivity"
            android:label="@string/title_activity_publictransport"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AirportTransportActivity"
            android:label="@string/title_activity_airporttransport"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TaxiActivity"
            android:label="Taxi"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".InfoCenterActivity"
            android:label="Tourist Center"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ShoppingCentreActivity"
            android:label="@string/title_activity_shopping_centre"
            android:theme="@style/AppTheme" />

        <!-- Shopping Centres -->
        <activity
            android:name=".NordstanSCActivity"
            android:label="@string/title_activity_nordstan_sc"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".FrolundaTorgActivity"
            android:label="@string/title_activity_frolundatory_sc"
            android:theme="@style/AppTheme"></activity>
        <activity
        android:name=".NordiskaKompanietActivity"
        android:label="@string/title_activity_nordiska_sc"
        android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".ArkadenShopingCenterActivity"
            android:label="Arkaden Shoping Center"
            android:theme="@style/AppTheme"></activity>

        <!-- Garden Activities-->

        <activity
            android:name=".BotanicalGardenActivity"
            android:label="@string/title_activity_botanical_garden"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".TradgardsforeningenActivity"
            android:label="@string/title_activity_tradgardsforeningen"
            android:theme="@style/AppTheme"></activity>



    </application>

</manifest>
