<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cloudcentrik.gbgcitytourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MuseumActivity"
            android:label="@string/title_activity_museum"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".IslandActivity"
            android:label="@string/title_activity_museum"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".VrangoIslandActivity"
            android:label="@string/title_activity_museum"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".StadMuseumActivity"
            android:label="@string/title_activity_stad_museum"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
