<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cloudcentrik.gbgcitytourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TouristSpotsActivity"
            android:label="@string/title_tourist_spot"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GardenActivity"
            android:label="@string/title_tourist_spot"
            android:theme="@style/AppTheme" />

        <!-- Hotels start -->
        <activity
            android:name=".HotelActivity"
            android:label="@string/title_activity_hotel"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AvalonHotelActivity"
            android:label="@string/title_activity_avalon_hotel"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".VanilaHotelActivity"
            android:label="@string/title_activity_vanila_hotel"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".VandrarHemHotelActivity"
            android:label="Vandrarhem"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RadissonBlueHotelActivity"
            android:label="Radisson Blue"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ScandicEuropaHotelActivity"
            android:label="Scandic Europa"
            android:theme="@style/AppTheme" />
        <!-- Hotels End -->

        <activity
            android:name=".BaseTestActivity"
            android:label="@string/title_activity_base_Test"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MuseumActivity"
            android:label="@string/title_activity_museum"
            android:theme="@style/AppTheme" />

        <!-- ISLAND START -->
        <activity
            android:name=".IslandActivity"
            android:label="@string/title_activity_island"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".VrangoIslandActivity"
            android:label="Varngo Island"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".VingaIslandActivity"
            android:label="Vinga Island"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HonoIslandActivity"
            android:label="Hönö Island"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RoroIslandActivity"
            android:label="Rörö Island"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StyrsoIslandActivity"
            android:label="Styrsö Island"
            android:theme="@style/AppTheme" />
        <!-- ISLAND END -->

        <!-- LAKE START-->
        <activity
            android:name=".LakesActivity"
            android:label="Lakes"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DelsjonLakeActivity"
            android:label="Delsjön"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".BerjsonLakeActivity"
            android:label="Berjön"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".SurtesjonLakeActivity"
            android:label="Suresjön"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".HarlandaLakeActivity"
            android:label="Härlanda"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".SvarteMosseLakeActivity"
            android:label="Svarte Mosse"
            android:theme="@style/AppTheme" />

        <!-- LAKE END-->

        <activity
            android:name=".MaritimanMuseumActivity"
            android:label="@string/title_activity_stad_museum"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HistoricalPlaceActivity"
            android:label="@string/title_activity_historical_place"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EastIndiaCompanyHPActivity"
            android:label="@string/title_activity_east_india_company_hp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AlvsborgCastleHPActivity"
            android:label="@string/title_activity_alvsborgCastle_hp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CarlstenFortHPActivity"
            android:label="@string/title_activity_carlsten_fort_hp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GallaryActivity"
            android:label="@string/title_activity_gallary"
            android:theme="@style/AppTheme" />

        <!-- Restaurant activities Here -->
        <activity
            android:name=".ResturentActivity"
            android:label="@string/title_activity_resturent"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OlearysResturentActivity"
            android:label="@string/title_activity_olearys_resturent"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Fiskekrogen_RestaurantActivity"
            android:label="@string/title_activity_fiskekrogen__restaurant"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HardRockCafeActivity"
            android:label="@string/title_activity_hardrockcafe"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".JohnScottsRestaurantActivity"
            android:label="@string/title_activity_johnscotts_restaurant"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".JoeFerellisRestaurantActivity"
            android:label="@string/title_activity_JoeFerellis_restaurant"
            android:theme="@style/AppTheme" />



        <activity
            android:name=".TravelInfoActivity"
            android:label="@string/title_activity_travelinfo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PublicTransportActivity"
            android:label="@string/title_activity_publictransport"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AirportTransportActivity"
            android:label="@string/title_activity_airporttransport"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".InfoCenterActivity"
            android:label="@string/title_activity_infocenter"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ShoppingCentreActivity"
            android:label="@string/title_activity_shopping_centre"
            android:theme="@style/AppTheme" />

        <!-- Shopping Centres -->
        <activity
            android:name=".NordstanSCActivity"
            android:label="@string/title_activity_nordstan_sc"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".FrolundaTorgActivity"
            android:label="@string/title_activity_frolundatory_sc"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".NordiskaKompanietActivity"
            android:label="@string/title_activity_nordiska_sc"
            android:theme="@style/AppTheme"></activity>




    </application>

</manifest>
